.editSaved {
    width: 300px;
    height: 470px;
    padding: 20px;
    border-radius: 10px;
    border: solid 2px;
    border-color: navy;
    background-color:lightgoldenrodyellow;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  }

